* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  background-color: rgb(223, 223, 223);
}
.reg-text {
  text-align: center;
  margin-top: 16vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  color: #40826d;
}
.register-body {
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.register-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 5vh;
  border: 3px solid black;
  width: 500px;
  height: 400px;
  background-color: rgb(195, 195, 195);
}
.fullName,
.cont,
.mail,
.password,
.DOB,
.button,
.genderSec {
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 4px;
}

.fName,
.contact,
.dateOfBirth,
.emailID,
.pass,
.gender {
  padding-bottom: 20px;
}
.button {
  background-color: #40826d;
  color: white;
}
.button:hover {
  cursor: pointer;
}
.fullName,
.cont,
.mail,
.password,
.DOB,
.button,
.genderSec,
select {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-left: 10px;
}
